.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  background-color: rgb(255, 255, 255);
  padding: 35px 10px 30px 10px;
  font-family: Poppins;
}

.toolbar {
  width: 100%;
  display: grid;
  grid-template-columns: 3% 3% 89% 5%;
}

.toolbar-item {
  text-align: center;
}
